# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
.turbo/
out/
dist/
build/
*.tsbuildinfo

# Tests
coverage/
playwright-report/
test-results/

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
apps/api/prisma/*.db

# Logs
pnpm-debug.log*
npm-debug.log*
yarn-error.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/